<div class="grid-x grid-padding-x">
        <div class="cell">
            <h3> Цензурирование произведено успешно! </h3>
            <h3> Количество совершенных замен равно: <%= @number_censored %> </h3>
            <a class="button" href="/"> Вернуться </a>
        </div>
</div>